In [1]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="2001",database="Database_SaidAbrordb")

mycursor=mydb.cursor()

# mycursor.execute("CREATE DATABASE Database_SaidAbrordb")

In [2]:
mydb=mysql.connector.connect(host="localhost",user="root",password="SAIDABROR1998", database="Database_SaidAbrordb")

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Drivers(name VARCHAR(100),licenceNumber INTEGER(4))")

In [3]:
mycursor.execute("ALTER TABLE Drivers ADD fatl_level INTEGER(2)")
mycursor.execute("ALTER TABLE Drivers ADD fatl_date INTEGER(8)")
mycursor.execute("ALTER TABLE Drivers ADD stlvt_level INTEGER(2)")
mycursor.execute("ALTER TABLE Drivers ADD stlvt_date INTEGER(8)")
mycursor.execute("ALTER TABLE Drivers ADD stlvt_authority VARCHAR(100)")

In [3]:
sqlFormulam='''INSERT INTO drivers(name,licenceNumber,FATL_level,FATL_date,STLVT_level,STLVT_date,STLVT_authority)
VALUES(%s,%s,%s,%s,%s,%s,%s)'''
for i in range(3):
    name=input("Driver's name: ")
    lnum=int(input("Licence number: "))
    fl=int(input("Fatl level: "))
    fd=int(input("Fatl date: "))
    sl=int(input("stlvtl level: "))
    sd=int(input("stlvtl date: "))
    sa=input("stlvtl authority: ")
    driver=[(name,lnum,fl,fd,sl,sd,sa)]
    mycursor.executemany(sqlFormulam,driver)
mydb.commit()

Driver's name: Ulugbek
Licence number: 2345
Fatl level: 10
Fatl date: 20210908
stlvtl level: 9
stlvtl date: 20200103
stlvtl authority: localpolice
Driver's name: Rahmatulloh
Licence number: 2456
Fatl level: 8
Fatl date: 20210304
stlvtl level: 9
stlvtl date: 20200307
stlvtl authority: foreignerpolice
Driver's name: Abdulxaq
Licence number: 2657
Fatl level: 8
Fatl date: 19990102
stlvtl level: 7
stlvtl date: 1980104
stlvtl authority: localpolice

In [5]:
mycursor.execute("CREATE TABLE vehicels(model VARCHAR(100),color VARCHAR(100), licenceNumber INTEGER(4))")

In [6]:
mycursor.execute("ALTER TABLE vehicels ADD cond VARCHAR(10)")

In [7]:
sqlformulam='''INSERT INTO vehicels(model,color,licenceNumber,cond) VALUES(%s,%s,%s,%s)'''
for i in range(3):
    model=input("Vehicle model: ")
    color=input("The color: ")
    licenceNumber=int(input("The licence number of driver: "))
    cond=input("The condition: ")
    vehicle=[(model,color,licenceNumber,cond)]
    mycursor.executemany(sqlformulam,vehicle)
mydb.commit()

Vehicle model: Malibu
The color: red
The licence number of driver: 2345
The condition: M
Vehicle model: Nexia 3
The color: White
The licence number of driver: 2456
The condition: R
Vehicle model: Spark
The color: blue
The licence number of driver: 2657
The condition: M

In [8]:
mycursor.execute("CREATE TABLE trip(starting_date INTEGER(10), ending_date INTEGER(10),Booking_umber INTEGER(10))")

In [11]:
sql="INSERT INTO trip(starting_date,ending_date,Booking_umber) VALUES(%s,%s,%s)"
for i in range(3):
    start=int(input("Start: "))
    end=int(input("Ending: "))
    number=int(input("Number: "))
    trip=[(start,end,number)]
    mycursor.executemany(sql,trip)
mydb.commit()

Start: 20220102
Ending: 20220106
Number: 9845
Start: 20230405
Ending: 20230901
Number: 9456
Start: 20230809
Ending: 20230908
Number: 7654

In [12]:
mycursor.execute("CREATE TABLE Officials(country VARCHAR(50),Role VARCHAR(50), Language VARCHAR(50))")

In [13]:
sql="INSERT INTO officials(Country,Role,Language) VALUES(%s,%s,%s)"
for i in range(3):
    country=input("Country: ")
    role=input("Role: ")
    lang=input("Language: ")
    officials=[(country,role,lang)]
    mycursor.executemany(sql,officials)
mydb.commit()

Country: Russia
Role: Cleaner
Language: Russian
Country: Korea
Role: Helper
Language: Korean
Country: Uzbekistan
Role: Leader
Language: Uzbek

In [14]:
mycursor.execute("CREATE TABLE Countries(name VARCHAR(50),Language VARCHAR(50))")

In [15]:
sql="INSERT INTO Countries(name,Language) VALUES(%s,%s)"
countries=[("Uzbekistan","Uzbek"),
           ("Russia","Russian"),
           ("Korea","Korean")
          ]
mycursor.executemany(sql,countries)
mydb.commit()